.header__name {
    background-color: #17a0a0;
    color: #000000;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 0;
    margin-top: 0;
    padding: 10px;
    font-family: 'Rubik Bubbles', cursive;
    font-size: 30px;
    
}