.table {
    border-collapse: collapse;
    margin-top: 100px;
    margin-bottom: 100px;
    line-height: 1;
    margin-left: 55px;
   
}

.table__cell {
    background-color: #e2e2e2;
    border: 1px solid #c3c2c2;
    padding: 20px;
    text-align: center;
    vertical-align: middle;
    font-family: 'Lato', sans-serif;
}

.table__caption {
    display: none;
}

.table__cell--header {
    color: #000;
    background-color: #75d2d2;
}

.pink .table__cell--header {
    background-color: #f271e3;
}

.table__row:hover td {
    background-color: #acacac;
}